/* CSS Document */
body 
	{
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #006633;
	}
#background
	{
	background-image: url(images/score.gif); 
	background-repeat: repeat-y;
	background-position: top center;
	}
#container 
	{
	margin: 0 auto 0 auto;
	max-width: 730px;
	width:expression(document.body.clientWidth > 778 ? "730px" : "100%" ); 	
	padding-bottom: 48px;
	}
#container img 
    {
	border: 0;
	}
.content_a
	{
	background-color: #FCD8D8;
	padding: 8px 16px 8px 16px;
	}
.content_b
	{
	background-color: #DFDFDF;
	padding: 8px 16px 8px 16px;
	}
#clear 
    { 
	font-size: 1px; height: 1px; 
	}
.pendingdates 
	{
	font-weight: bold;
	margin-left: -24px;
    }
#ofnote 
    {
	background-color: #FFFFFF;
	font-size: 0.9em;
	width:64%;
	min-width: 300px;
	padding: 8px;
	margin: 0px auto 0px auto;
	clear: both;
    }
#ofnotetop 
    {
	background-image: url(images/boxlinehorizontal.gif);
	background-repeat: no-repeat;
	background-position: left top;
    }
#ofnoteleft 
   	{
	background-image: url(images/boxlinevertical.gif);
	background-repeat: no-repeat;
	background-position: left top;
    }
#ofnoteright 
    {
	background-image: url(images/boxlinevertical.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
    }
#ofnotecontent 
    {
	padding: 0px 16px 16px 16px;
	margin-left: 24px;
	}
#ofnotebottom 
   	{
	background-image: url(images/boxlinehorizontal.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
    }
a:link,a:visited,a:active 
    { 
	text-decoration: none; 
	}
a:hover 
    { 
	text-decoration: underline; 
	}
.thumb 
    {
	background-image: url(images/picbkg.png);
	margin: -8px 8px 0px 0px;
	padding: 12px 12px 12px 12px;
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	}
.thumb1 
    {
	background-image: url(images/picbkg1.png);
	margin: -8px 0px 0px 8px;
	padding: 12px 12px 12px 12px;
	background-repeat: no-repeat;
	background-position: center center;
	float: right;
	}
h3 
    {
	background-image: url(images/circles.gif);
	background-repeat: no-repeat;
	padding: 8px 8px 24px 54px;
	clear: both;
	}
h4 
    {
	background-image: url(images/circles.gif);
	background-repeat: no-repeat;
	padding: 8px 0px 24px 54px;
	clear: both;
	font-size: x-small;
    }
ul
	{
	font-size: x-small;
	}
p:first-letter 
    {
	font-size: 300%;
	float: left;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin-top: -4px;
    }
h4:first-letter 
    {
	font-size: 300%;
	font-family: Georgia, "Times New Roman", Times, serif;
	float: left;
    }
#logo 
	{
	margin: 0px auto 0px auto;
	text-align: center;
	}
#sublogo 
	{
	text-align: center;
	}
#footer 
	{
	text-align: center;
	margin: 0px auto 0px auto;
	}
#emailphone_sublogo
	{
	margin-top: -281px;
	text-align: right;
    padding: 16px 16px 240px 0px;
	}
#emailphone_footer
	{
	margin-top: -81px;
	text-align: left;
    padding: 0px 0px 0px 16px;
	}
#links 
    {
	clear: both;
    }
.column_half 
   	{
	float:left; width:50%;
	}
.section_graphic
   	{
	clear: both;
    }
.concertsyear 
	{
	background-color: #F5B87A;
	color: #D30E0E;
	font-weight: bold;
	font-size: large;
	padding: 4px;
	margin-left: -28px;
	}
#ofnotecontent .concert  
	{
	text-indent: -24px;
	margin:  0 0 8px 0;
	}
iframe, object{margin:0 auto;text-align:center;}
